@charset "UTF-8";

*{
	padding: 0px;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 40;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	width: 500px;
	height: 200px;
	background-color: #80ffff;
}

.todolist{

}

.list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 500px;
	height: 400px;
	border: 1px solid #ccc;
	fontsize: 15px;
}